@use "../abstracts/" as *;

.about-us {
  padding: 50px 0;
  @include desktop {
    padding: 100px 0;
    height: 100vh;
  }
  .about-us__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 30px;
    .about-us__image {
      display: none;
      @include tablet {
        display: initial;
      }
      @include desktop {
        display: initial;
      }
    }
    .about-us__content {
      flex-direction: column;
      gap: 35px;
      display: flex;
      .about-us__line {
        width: 94px;
        height: 7px;
        &--orange {
          background: #e74040;
        }
      }
      .about-us__title {
        letter-spacing: 0.2px;
        color: #252b42;
        font-size: 40px;
      }
      .about-us__paragraph {
        letter-spacing: 0.2px;
        color: #737373;
        font-size: 14px;
        line-height: 20px;
        @include tablet {
          width: 351px;
        }
        @include desktop {
          width: 351px;
        }
      }
      .learn-more {
        align-items: center;
        gap: 10px;
        display: flex;
        .learn-more__title {
          width: 82px;
          height: 24px;
          font-weight: 700;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.2px;
          color: #ff6551;
        }
      }
    }
  }
}

.client-target {
  padding: 50px 0;
  @include desktop {
    padding: 100px 0px;
    height: 100vh;
  }
  .client-target__wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 30px;
    .client-target__content {
      display: flex;
      flex-direction: column;
      gap: 35px;
      @include tablet {
        width: 50%;
      }
      @include tablet {
        width: auto;
      }
      .client-target__line {
        width: 94px;
        height: 7px;
        &--orange {
          background: #e74040;
        }
      }
      .client-target__title {
        letter-spacing: 0.2px;
        color: #252b42;
        font-size: 40px;
        line-height: 50px;
        @include desktop {
          width: 419px;
        }
      }
      .client-target__paragraph {
        letter-spacing: 0.2px;
        color: #737373;
        font-size: 14px;
        line-height: 20px;
        @include tablet {
          width: 351px;
        }
        @include desktop {
          width: 351px;
        }
      }
      .learn-more {
        align-items: center;
        gap: 10px;
        display: flex;
        .learn-more__title {
          color: #ff6551;
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
    .client-target__image {
      display: none;
      @include tablet {
        display: initial;
      }
      @include desktop {
        display: initial;
        text-align: end;
        & img {
          width: 90%;
        }
      }
    }
  }
}

.quality-course {
  padding: 80px 0;
  @include desktop {
    padding: 0;
  }

  .client-target__line {
    width: 94px;
    height: 7px;
    &--orange {
      background: #e74040;
    }
    @include desktop {
      display: none;
    }
  }
  .quality-course__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 0;
    @include desktop {
      padding: 0px;
    }
    .quality-course_content {
      display: flex;
      flex-direction: column;
      gap: 25px;
      @include desktop {
        gap: 10px;
      }
      .quality-course--tag {
        letter-spacing: 0.2px;
        color: #ff6551;
        font-size: 14px;
        line-height: 24px;
        display: none;
        @include desktop {
          display: initial;
        }
      }
      .quality-course__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 0.2px;
        color: #252b42;
      }
      .quality-course__paragraph {
        letter-spacing: 0.2px;
        color: #737373;
        font-size: 14px;
        line-height: 20px;
        @include desktop {
          width: 469px;
        }
      }
    }
  }
  .quality-course-list {
    gap: 30px;
    margin: 50px 0;
    display: flex;
    overflow: hidden;
  }
  .pagination-container {
    @include desktop {
      display: none;
    }
  }
}

.popular-course {
  padding: 100px 0;
  background: #26335d;
  .popular-course__header {
    margin-bottom: 70px;
    .popular-course__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      .popular-course {
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        &--tag {
          color: #ff6551;
        }
      }
      .popular-course__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 0.2px;
        color: #ffffff;
      }
      .popular-course__paragraph {
        letter-spacing: 0.2px;
        color: #fff;
        font-size: 14px;
        line-height: 20px;
        @include desktop {
          width: 469px;
        }
      }
    }
  }
  .pagination-container {
    @include desktop {
      display: none;
    }
  }
}

.blog-course {
  background: #fff;
  overflow: hidden;
  padding: 50px 0;
  @include desktop {
    height: 100vh;
  }
  .blog-course__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
    .blog-course--tag {
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #ff6551;
    }
    .blog-course__title {
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
      letter-spacing: 0.2px;
      color: #252b42;
    }
    .blog-course__paragraph {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: #737373;
      @include desktop {
        width: 469px;
      }
    }
  }
  .blog-list {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
    @include desktop {
      flex-direction: row;
      justify-content: space-between;
    }
    .blog-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px 25px 0px;
      margin: 30px 0;

      .blog-item__image img {
        border-radius: 50%;
        width: 128px;
        height: 128px;
      }
      .blog-item__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        gap: 15px;

        @include desktop {
          width: 458px;
        }
        .blog-item__paragraph {
          width: 320px;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          text-align: center;
          letter-spacing: 0.2px;
          color: #737373;
          @include tablet {
            width: auto;
          }
        }
        .blog-item__info {
          .user-title {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.1px;
            color: #252b42;
          }
          .job {
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #737373;
          }
        }
      }
    }
  }
}

.contact {
  align-items: center;
  display: flex;
  padding: 50px 0;
  @include tablet {
    height: auto;
    padding: 80px 0;
  }
  @include desktop {
    height: 100vh;
    padding: 100px 0;
  }
  .contact__content {
    display: flex;
    margin-bottom: 75px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    @include desktop {
      width: 691px;
    }
    .contact--tag {
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.2px;
      color: #ff6551;
    }
    .contact__title {
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
      text-align: center;
      letter-spacing: 0.2px;
      color: #252b42;
    }
    .contact__paragraph {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.2px;
      color: #737373;
    }
  }
  .contact__form {
    display: flex;
    justify-content: center;
    .contact__form-mail {
      width: 100%;
      display: flex;
      .contact__input {
        width: 80%;
        background: #f9f9f9;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        padding: 15px;
        width: 100%;
        font-size: 14px;
      }
      .contact__button {
        font-size: 14px;
        padding: 15px;
        box-sizing: border-box;
        background: #ff6551;
        border: 1px solid #e6e6e6;
        border-radius: 0px 5px 5px 0px;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #ffffff;
      }
    }
  }
}
