@use "../abstracts/" as *;

.header {
  width: 100%;
  .navbar {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    .navbar__brand {
      display: flex;
      align-items: center;
      .brand_name {
        width: 141px;
        color: #ececec;
        font-size: 24px;
        font-style: normal;
      }
    }
    .navbar__collapse {
      width: 815px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .nav-list {
        gap: 21px;
        padding: 0;
        display: flex;
        .nav-list__item a {
          font-weight: 700;
          font-size: 14px;
          line-height: 24px;
          text-align: center;
          letter-spacing: 0.2px;
          color: #ffffff;
        }
      }
      .navbar-nav {
        display: flex;
        align-items: center;
        padding: 0px;
        gap: 45px;
        width: 300px;

        .navbar-nav__title {
          color: #fff;
          font-size: 14px;
          font-weight: 700;
          line-height: 22px;
        }
        .navbar-nav__btn {
          width: 137px;
          height: 52px;
          color: #fff;
          background: #ff6551;
          border-radius: 5px;
          gap: 15px;
          padding: 15px 25px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
