@use "../abstracts/" as *;

.introduce-sec {
  width: 100%;
  .navbar {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    .navbar-brand {
      display: flex;
      align-items: center;
      .brand_name {
        width: 141px;
        color: #ececec;
        font-size: 24px;
        font-style: normal;
      }
    }
    .navbar-collapse {
      width: 815px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .nav-list {
        gap: 21px;
        padding: 0;
        display: flex;
        .nav-list__item a {
          /* link */

          font-family: "Montserrat";
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 24px;
          /* identical to box height, or 171% */

          text-align: center;
          letter-spacing: 0.2px;

          /* light-text-color */

          color: #ffffff;
        }
      }

      .navbar-nav {
        display: flex;
        align-items: center;
        padding: 0px;
        gap: 45px;
        width: 300px;
        .title {
          width: 41px;
          height: 22px;
          left: calc(50% - 41px / 2);
          top: calc(50% - 22px / 2);
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 22px;

          text-align: right;
          letter-spacing: 0.2px;
          color: #ffffff;
        }

        .button {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 15px 25px;
          gap: 15px;
          width: 137px;
          height: 52px;
          background: #ff6551;
          color: white;
          border-radius: 5px;
        }
      }
    }

    .narbar-toggle {
      /* navbar-toggler */

      position: absolute;
      width: 24px;
      height: 13.71px;
      left: 1298px;
      top: 39px;
    }
  }
}
