<div class="course-item">
  <div class="course-item__image">
    <include src="./assets/icons/heart.svg"></include>
  </div>
  <h3 class="course-item__status">FREE</h3>
  <h6 class="course-item__title">Organize across all apps by hand</h6>
  <div class="course-item__price">
    <h2 class="course-item__value">19$</h2>
    <h6 class="course-item__type">Per Month</h6>
  </div>
  <p class="course-item__paragraph">
    Slate helps you see how many more days you need...
  </p>
  <button onclick="location.href='#'" class="course-item__button">
    Try for free
  </button>
  <div class="course-list">
    <div class="course-item-check">
      <include src="./assets/icons/checked.svg"></include>
      <p>Unlimited product updates</p>
    </div>
    <div class="course-item-check">
      <include src="./assets/icons/checked.svg"></include>
      <p>Unlimited product updates</p>
    </div>
    <div class="course-item-check">
      <include src="./assets/icons/checked.svg"></include>
      <p>Unlimited product updates</p>
    </div>
    <div class="course-item-check">
      <include src="./assets/icons/not_checked.svg"></include>
      <p>Email and community support</p>
    </div>
    <div class="course-item-check">
      <include src="./assets/icons/not_checked.svg"></include>
      <p>Email and community support</p>
    </div>
  </div>
</div>
