<div class="col-md-4">
  <div class="circle-sec">
    <include src="./assets/icons/heart.svg"></include>
  </div>
  <h3 class="pricing-title-sec">FREE</h3>
  <h6 class="sec">Organize across all apps by hand</h6>
  <div class="price-sec">
    <h2 class="value">19$</h2>
    <h6 class="type">Per Month</h6>
  </div>
  <p class="paragraph_pricing">
    Slate helps you see how many more days you need...
  </p>
  <button class="btn-sec">Try for free</button>
  <div class="features-list">
    <div class="feature-item">
      <include src="./assets/icons/checked.svg"></include>
      <p>Unlimited product updates</p>
    </div>
    <div class="feature-item">
      <include src="./assets/icons/checked.svg"></include>
      <p>Unlimited product updates</p>
    </div>
    <div class="feature-item">
      <include src="./assets/icons/checked.svg"></include>
      <p>Unlimited product updates</p>
    </div>
    <div class="feature-item">
      <include src="./assets/icons/not_checked.svg"></include>
      <p>1GB Cloud storage</p>
    </div>
    <div class="feature-item">
      <include src="./assets/icons/not_checked.svg"></include>
      <p>Email and community support</p>
    </div>
  </div>
</div>
