<div class="col-md-3">
  <div class="product_card">
    <img src="{{srcImage}}" alt="" />
  </div>
  <div class="frame_3">
    <div class="frame_2">
      <div class="frame_1"><p>{{frame_1_title}}</p></div>
      <div class="frame_4">
        <include src="./assets/icons/rates.svg"></include>
      </div>
    </div>
    <h5 class="product_title">{{product_title}}</h5>
    <p class="paragraph_sec">{{paragraph_sec}}</p>
    <div class="sales">
      <div class="frame-sec">
        <include src="./assets/icons/dowload.svg"></include>
      </div>
      <h6 class="quantity-sec">{{quantity_sec}}</h6>
    </div>
    <div class="prices">
      <h5 class="price_1-sec">{{price_1_sec}}</h5>
      <h5 class="price_2-sec">{{price_2_sec}}</h5>
    </div>
    <button class="learn_more">
      <h6 class="learn_more-title">Learn More</h6>
      <include src="./assets/icons/arrow-next.svg"></include>
    </button>
  </div>
</div>
