@use "../../abstracts/" as *;

.popular-course-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  padding-bottom: 60px;
  @include desktop {
    justify-content: center;
    padding: 0;
  }
  .course-item {
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    background: #ffffff;
    gap: 13px;

    @include tablet {
      width: 280px;
      margin: 0 auto;
    }

    @include desktop {
      width: 237px;
      gap: 30px;
      padding: 50px 40px;
    }
    .course-item__image {
      width: 96px;
      height: 96px;
      background: #ff6551;
      border-radius: 200px;
    }
    .course-item__status {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.1px;
      color: #252b42;
    }
    .course-item__title {
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #737373;
    }
    .course-item__price {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .course-item__value {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 0.2px;
        color: #ff6551;
      }
      .course-item__type {
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #8ec2f2;
      }
    }
    .course-item__paragraph {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: #737373;
      width: 214px;
      @include desktop {
        width: auto;
      }
    }
    .course-item__button {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #ff6551;
      border-radius: 5px;
      padding: 15px 15px;
      &:hover {
        cursor: pointer;
      }

      @include desktop {
        padding: 15px 40px;
      }
    }
    .course-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
      padding: 22px 0;
      @include desktop {
        padding: 0;
        gap: 15px;
      }
      .course-item-check {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }
    }
  }
}
