<div class="navbar">
  <div class="navbar__brand">
    <h3 href="#" class="brand_name">Brandname</h3>
  </div>
  <div class="navbar__collapse">
    <ul class="nav-list">
      <include
        src="./components/nav-list.html"
        locals='{
                    "classList": "nav-list__item",
                    "classLink": "nav-link",
                    "list": "[`Home`, `Product`, `Pricing`, `Contact`]"        
                }'
      ></include>
    </ul>
    <div class="navbar-nav">
      <div class="navbar-nav__title">Login</div>
      <button class="navbar-nav__btn">
        <div>JOIN US</div>
        <div class="icon-arrow--right">
          <img class="" src="../assets/icons/right-arrow.svg" />
        </div>
      </button>
    </div>
  </div>
  <!-- <div class="navbar-toggle"></div> -->
</div>
