<footer>
  <div class="container" data-aos="fade-up">
    <div class="category">
      <div class="category-list">
        <include
          src="./components/list_info_footer.html"
          locals='{"title" : "Company Info"}'
        ></include>
        <include
          src="./components/list_info_footer.html"
          locals='{"title" : "Legal"}'
        ></include>
        <include
          src="./components/list_info_footer.html"
          locals='{"title" : "Features"}'
        ></include>
        <include
          src="./components/list_info_footer.html"
          locals='{"title" : "Resources"}'
        ></include>
        <div class="get_in_touch">
          <h5 class="title">Get In Touch</h5>

          <div class="contact_link-list">
            <div class="item">
              <div class="icons">
                <include src="./assets/icons/phone.svg"></include>
              </div>
              <h6 class="content">(480) 555-0103</h6>
            </div>
            <div class="item">
              <div class="icons">
                <include src="./assets/icons/map.svg"></include>
              </div>
              <h6 class="content">
                4517 Washington Ave. Manchester, Kentucky 39495
              </h6>
            </div>
            <div class="item">
              <div class="icons">
                <include src="./assets/icons/letter.svg"></include>
              </div>
              <h6 class="content">debra.holt@example.com</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="footer__title">
          Made With Love By Figmaland All Right Reserved
        </div>
        <div class="footer__list-icon">
          <include src="./assets/icons/facebook.svg"></include>
          <include src="./assets/icons/instagram.svg"></include>
          <include src="./assets/icons/twitter.svg"></include>
        </div>
      </div>
    </div>
  </div>
</footer>
