<header>
  <section class="introduce-sec">
    <div class="background">
      <div class="filter-sec"></div>
      <div class="banner-sec"></div>
    </div>
    <div class="container">
      <include src="./components/navbar.html"></include>
      <div class="introduce-sec__content">
        <div class="main-content">
          <h5 class="header-tag-sec">Join Us</h5>
          <h1 class="headline-sec">HIGH QUALITY COURSES</h1>
          <h4 class="sub-headline">
            Our goal is to make online education work for everyone
          </h4>
          <button class="button">Join Us</button>
        </div>

        <div class="listCard-content" data-aos="fade-up">
          <include
            src="./components/Card/introduce-card.html"
            locals='{
                    "title": "Lifetime access",
                    "content": "The gradual accumulation of information about atomic and small-scale behaviour...",
                    "srcIcon" : "../assets/icons/life-time.svg"
                }'
          ></include>
          <include
            src="./components/Card/introduce-card.html"
            locals='{
                    "title": "training Courses",
                    "content": "The gradual accumulation of information about atomic and small-scale behaviour...",
                    "srcIcon" : "../assets/icons/training.svg"
                }'
          ></include>
          <include
            src="./components/Card/introduce-card.html"
            locals='{
                    "title": "Expert instruction",
                    "content": "The gradual accumulation of information about atomic and small-scale behaviour...",
                    "srcIcon" : "../assets/icons/expert-instruction.svg"
                }'
          ></include>
        </div>
      </div>
    </div>
  </section>
</header>
