<main>
  <div class="about-us">
    <div class="container">
      <div class="about-us__wrapper">
        <div class="about-us__image" data-aos="fade-right">
          <img src="../assets/icons/test.svg" alt="" />
        </div>
        <div class="about-us__content" data-aos="fade-left">
          <div class="about-us__line about-us__line--orange"></div>
          <h2 class="about-us__title">Watch our Courses</h2>
          <p class="about-us__paragraph">
            Problems trying to resolve the conflict between the two major realms
            of Classical physics: Newtonian mechanics
          </p>
          <div class="learn-more">
            <h6 class="learn-more__title">Learn More</h6>
            <include src="./assets/icons/arrow-next.svg"></include>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="client-target">
    <div class="container">
      <div class="client-target__wrapper">
        <div class="client-target__image" data-aos="fade-right">
          <div class="client-target__line client-target__line--orange"></div>
          <h2 class="client-target__title">Every Client Matters</h2>
          <div class="client-target__paragraph">
            Problems trying to resolve the conflict between the two major realms
            of Classical physics: Newtonian mechanics
          </div>
          <div class="learn-more">
            <h6 class="learn-more__title">Learn More</h6>
            <include src="./assets/icons/arrow-next.svg"></include>
          </div>
        </div>
        <div class="client-target__content" data-aos="fade-left">
          <include src="./assets/icons/video-card.svg"></include>
        </div>
      </div>
    </div>
  </div>
  <div class="quality-course">
    <div class="container">
      <div class="quality-course__header" data-aos="fade-up">
        <div class="quality-course_content">
          <h6 class="quality-course--tag">Courses</h6>
          <h2 class="quality-course__title">Get Quality Education</h2>
          <p class="quality-course__paragraph">
            Problems trying to resolve the conflict between the two major realms
            of Classical physics: Newtonian mechanics
          </p>
        </div>
      </div>
      <div class="quality-course-list" data-aos="fade-up">
        <include
          src="./components/Card/quality_course-card.html"
          locals='{
            "srcImage" : "../assets/images/quality_education/quality_course_1.jpg",
            "frame_1_title" : "Books Liberary",
            "product_title" : "Our Experts Teacher",
            "paragraph_sec" : "We focus on ergonomics and meeting you....",
            "quantity_sec" : "15 Sales",
            "price_1_sec" : "$16.48",
            "price_2_sec" : "$6.48"
          }'
        ></include>
        <include
          src="./components/Card/quality_course-card.html"
          locals='{
            "srcImage" : "../assets/images/quality_education/quality_course_2.jpg",
            "frame_1_title" : "training Courses",
            "product_title" : "Watch our Courses",
            "paragraph_sec" : "We focus on ergonomics and meeting you....",
            "quantity_sec" : "15 Sales",
            "price_1_sec" : "$16.48",
            "price_2_sec" : "$6.48"
          }'
        ></include>
        <include
          src="./components/Card/quality_course-card.html"
          locals='{
            "srcImage" : "../assets/images/quality_education/quality_course_3.jpg",
            "frame_1_title" : "Expert instruction",
            "product_title" : "Watch our Courses",
            "paragraph_sec" : "We focus on ergonomics and meeting you....",
            "quantity_sec" : "15 Sales",
            "price_1_sec" : "$16.48",
            "price_2_sec" : "$6.48"
          }'
        ></include>
        <include
          src="./components/Card/quality_course-card.html"
          locals='{
            "srcImage" : "../assets/images/quality_education/quality_course_4.jpg",
            "frame_1_title" : "Training Courses",
            "product_title" : "Get Quality Education",
            "paragraph_sec" : "We focus on ergonomics and meeting you....",
            "quantity_sec" : "15 Sales",
            "price_1_sec" : "$16.48",
            "price_2_sec" : "$6.48"
          }'
        ></include>
      </div>
    </div>
  </div>
  <div class="popular-course">
    <div class="container">
      <div class="popular-course__header" data-aos="fade-up">
        <div class="popular-course__content">
          <h6 class="popular-course--tag">Practice Advice</h6>
          <h2 class="popular-course__title">Most Popular Courses</h2>
          <p class="popular-course__paragraph">
            Problems trying to resolve the conflict between the two major realms
            of Classical physics: Newtonian mechanics
          </p>
        </div>
      </div>
      <div class="popular-course-list" data-aos="fade-up">
        <include src="./components/Card/popular_course-card.html"></include>
        <include src="./components/Card/popular_course-card.html"></include>
        <include src="./components/Card/popular_course-card.html"></include>
      </div>
    </div>
  </div>
  <div class="blog-course">
    <div class="container">
      <div class="blog-course__content" data-aos="fade-up">
        <div class="blog-course--tag">Testimonials</div>
        <div class="blog-course__title">Our Popular Courses</div>
        <div class="blog-course__paragraph">
          Problems trying to resolve the conflict between the two major realms
          of Classical physics: Newtonian mechanics
        </div>
      </div>
      <div class="blog-list">
        <div class="blog-item" data-aos="fade-right">
          <div class="blog-item__image">
            <img
              src="../assets/images/our_popular_course/our_course_1.jpg"
              alt=""
            />
          </div>
          <div class="blog-item__content">
            <p class="blog-item__paragraph">
              Slate helps you see how many more days you need to work to reach
              your financial goal for the month and year.
            </p>
            <div class="star-list">
              <include src="./assets/icons/star_yellow.svg"></include>
              <include src="./assets/icons/star_yellow.svg"></include>
              <include src="./assets/icons/star_yellow.svg"></include>
              <include src="./assets/icons/star_white.svg"></include>
              <include src="./assets/icons/star_white.svg"></include>
            </div>
            <div class="blog-item__info">
              <h5 class="user-title">Regina Miles</h5>
              <h6 class="job">Designer</h6>
            </div>
          </div>
        </div>
        <div class="blog-item" data-aos="fade-left">
          <div class="blog-item__image">
            <img
              src="../assets/images/our_popular_course/our_course_2.jpg"
              alt=""
            />
          </div>
          <div class="blog-item__content">
            <p class="blog-item__paragraph">
              Slate helps you see how many more days you need to work to reach
              your financial goal for the month and year.
            </p>
            <div class="star-list">
              <include src="./assets/icons/star_yellow.svg"></include>
              <include src="./assets/icons/star_yellow.svg"></include>
              <include src="./assets/icons/star_yellow.svg"></include>
              <include src="./assets/icons/star_white.svg"></include>
              <include src="./assets/icons/star_white.svg"></include>
            </div>
            <div class="blog-item__info">
              <h5 class="user-title">Regina Miles</h5>
              <h6 class="job">Designer</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact">
    <div class="container" data-aos="fade-up">
      <div class="contact__content">
        <h6 class="contact--tag">Newsletter</h6>
        <h3 class="contact__title">Our Popular Courses</h3>
        <p class="contact__paragraph">
          Problems trying to resolve the conflict between the two major realms
          of Classical physics: Newtonian mechanics
        </p>
      </div>
      <div class="contact__form">
        <div class="contact__form-mail">
          <input placeholder="Your Email" type="text" class="contact__input" />
          <button class="contact__button">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</main>
