<main>
  <div class="preview_courses">
    <div class="container">
      <div class="row">
        <div class="col-md-6" data-aos="fade-right">
          <img src="../assets/icons/test.svg" alt="" />
        </div>
        <div class="col-md-5" data-aos="fade-left">
          <div class="line-div"></div>
          <h2 class="title-sec">Watch our Courses</h2>
          <p class="paragraph-sec">
            Problems trying to resolve the conflict between the two major realms
            of Classical physics: Newtonian mechanics
          </p>
          <div class="learn_more">
            <h6 class="learn_more-title">Learn More</h6>
            <include src="./assets/icons/arrow-next.svg"></include>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="client_target">
    <div class="container">
      <div class="row">
        <div class="col-md-5" data-aos="fade-right">
          <div class="line-div"></div>
          <h2 class="title-sec">Every Client Matters</h2>
          <div class="paragraph-sec">
            Problems trying to resolve the conflict between the two major realms
            of Classical physics: Newtonian mechanics
          </div>
          <div class="learn_more">
            <h6 class="learn_more-title">Learn More</h6>
            <include src="./assets/icons/arrow-next.svg"></include>
          </div>
        </div>
        <div class="col-md-6" data-aos="fade-left">
          <include src="./assets/icons/video-card.svg"></include>
        </div>
      </div>
    </div>
  </div>
  <div class="quality_course">
    <div class="container">
      <div class="quality_course-header" data-aos="fade-up">
        <div class="main_content">
          <h6 class="tag-sec">Courses</h6>
          <h2 class="title-sec">Get Quality Education</h2>
          <p class="paragraph-sec">
            Problems trying to resolve the conflict between the two major realms
            of Classical physics: Newtonian mechanics
          </p>
        </div>
      </div>
      <div class="quality_course-list" data-aos="fade-up">
        <include
          src="./components/Card/quality_course-card.html"
          locals='{
            "srcImage" : "../assets/images/quality_education/quality_course_1.jpg",
            "frame_1_title" : "Books Liberary",
            "product_title" : "Our Experts Teacher",
            "paragraph_sec" : "We focus on ergonomics and meeting you....",
            "quantity_sec" : "15 Sales",
            "price_1_sec" : "$16.48",
            "price_2_sec" : "$6.48"
          }'
        ></include>
        <include
          src="./components/Card/quality_course-card.html"
          locals='{
            "srcImage" : "../assets/images/quality_education/quality_course_2.jpg",
            "frame_1_title" : "training Courses",
            "product_title" : "Watch our Courses",
            "paragraph_sec" : "We focus on ergonomics and meeting you....",
            "quantity_sec" : "15 Sales",
            "price_1_sec" : "$16.48",
            "price_2_sec" : "$6.48"
          }'
        ></include>
        <include
          src="./components/Card/quality_course-card.html"
          locals='{
            "srcImage" : "../assets/images/quality_education/quality_course_3.jpg",
            "frame_1_title" : "Expert instruction",
            "product_title" : "Watch our Courses",
            "paragraph_sec" : "We focus on ergonomics and meeting you....",
            "quantity_sec" : "15 Sales",
            "price_1_sec" : "$16.48",
            "price_2_sec" : "$6.48"
          }'
        ></include>
        <include
          src="./components/Card/quality_course-card.html"
          locals='{
            "srcImage" : "../assets/images/quality_education/quality_course_4.jpg",
            "frame_1_title" : "Training Courses",
            "product_title" : "Get Quality Education",
            "paragraph_sec" : "We focus on ergonomics and meeting you....",
            "quantity_sec" : "15 Sales",
            "price_1_sec" : "$16.48",
            "price_2_sec" : "$6.48"
          }'
        ></include>
      </div>
    </div>
  </div>
  <div class="popular_course">
    <div class="container">
      <div class="popular_course-header" data-aos="fade-up">
        <div class="main_content">
          <h6 class="tag-sec">Practice Advice</h6>
          <h2 class="title-sec">Most Popular Courses</h2>
          <p class="paragraph-sec">
            Problems trying to resolve the conflict between the two major realms
            of Classical physics: Newtonian mechanics
          </p>
        </div>
      </div>
      <div class="popular_course-list" data-aos="fade-up">
        <include src="./components/Card/popular_course-card.html"></include>
        <include src="./components/Card/popular_course-card.html"></include>
        <include src="./components/Card/popular_course-card.html"></include>
      </div>
    </div>
  </div>
  <div class="our_popular_course">
    <div class="container">
      <div class="main_content" data-aos="fade-up">
        <div class="tag-sec">Testimonials</div>
        <div class="title-sec">Our Popular Courses</div>
        <div class="paragraph-sec">
          Problems trying to resolve the conflict between the two major realms
          of Classical physics: Newtonian mechanics
        </div>
      </div>
      <div class="row">
        <div class="typical_teacher" data-aos="fade-right">
          <div class="testimonials">
            <img
              src="../assets/images/our_popular_course/our_course_1.jpg"
              alt=""
            />
          </div>
          <div class="card_content">
            <p class="paragraph-sec">
              Slate helps you see how many more days you need to work to reach
              your financial goal for the month and year.
            </p>
            <div class="star-list">
              <include src="./assets/icons/star_yellow.svg"></include>
              <include src="./assets/icons/star_yellow.svg"></include>
              <include src="./assets/icons/star_yellow.svg"></include>
              <include src="./assets/icons/star_white.svg"></include>
              <include src="./assets/icons/star_white.svg"></include>
            </div>
            <div class="frame_1-sec">
              <h5 class="user-title">Regina Miles</h5>
              <h6 class="job">Designer</h6>
            </div>
          </div>
        </div>
        <div class="typical_teacher" data-aos="fade-left">
          <div class="testimonials">
            <img
              src="../assets/images/our_popular_course/our_course_2.jpg"
              alt=""
            />
          </div>
          <div class="card_content">
            <p class="paragraph-sec">
              Slate helps you see how many more days you need to work to reach
              your financial goal for the month and year.
            </p>
            <div class="star-list">
              <include src="./assets/icons/star_yellow.svg"></include>
              <include src="./assets/icons/star_yellow.svg"></include>
              <include src="./assets/icons/star_yellow.svg"></include>
              <include src="./assets/icons/star_white.svg"></include>
              <include src="./assets/icons/star_white.svg"></include>
            </div>
            <div class="frame_1-sec">
              <h5 class="user-title">Regina Miles</h5>
              <h6 class="job">Designer</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-sec">
    <div class="container" data-aos="fade-up">
      <div class="main_content">
        <h6 class="section-tag">Newsletter</h6>
        <h3 class="title-sec">Our Popular Courses</h3>
        <p class="paragraph-sec">
          Problems trying to resolve the conflict between the two major realms
          of Classical physics: Newtonian mechanics
        </p>
      </div>
      <div class="row-sec">
        <div class="input-group">
          <input
            placeholder="Your Email"
            type="text"
            class="input-group-append"
          />
          <button class="submit">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</main>
